{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 80,
        "tabWidth": 2
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always",
        "tabWidth": 2
      }
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "jsxSingleQuote": true,
        "jsxBracketSameLine": false
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "jsxSingleQuote": true,
        "jsxBracketSameLine": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.less",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.vue",
      "options": {
        "singleQuote": true,
        "tabWidth": 2,
        "vueIndentScriptAndStyle": false
      }
    },
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false
      }
    },
    {
      "files": "*.py",
      "options": {
        "printWidth": 88,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false
      }
    },
    {
      "files": "*.dockerfile",
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}